.sidebarDash {
   flex: 1;
   height: 100vh;
   position: sticky;
   top: 5rem;
   background: var(--sidebar_bg);
}
.sidebarWrapper {
   padding: 3rem 1rem 0 3rem;
   color: #555;
}
.sidebarMenu {
   margin-bottom: 1rem;
}
.sidebarTitle {
   font-size: 1.3rem;
   color: rgba(187, 186, 186);
}
.sidebarList {
   list-style: none;
   padding: 0.5rem;
}
a.sidebarListItem {
   padding: 0.5rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   border-radius: 1rem;
   text-decoration: none;
   color: var(--gray);
}
a.selected,
a.sidebarListItem:hover {
   background: rgb(240, 240, 255);
   color: var(--bg_dark);
   font-weight: 600;
}
.sidebarIcon {
   margin-right: 0.5rem;
   font-size: 2rem !important;
}
